<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container{
            max-width: 700px;
        }
        .field-error {
        border-color: #dc3545;
        color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>게시글</h2>
    </div>

    <button class="btn btn-dark pull-right"
            onclick="location.href='board/postList.html'"
            th:onclick="|location.href='@{/board}'|"
            type="button">목록으로
    </button>

    <div>
        <label for="postId">게시판번호</label>
        <input type="text" id="postId" name="postId" class="form-control"
               value="1" th:value="${post.id}" readonly>
    </div>

    <div>
        <label for="postTitle">제목</label>
        <input type="text" id="postTitle" name="postTitle" class="form-control"
               value="제목" th:value="${post.title}" readonly>
    </div>
    <div>
        <label for="postContent">내용</label>
        <textarea class="form-control" rows="5"
                  id="postContent" name="postContent"
                  th:value="${post.content}" th:text="${post.content}" readonly></textarea>
    </div>
    <div>
        <label for="writer">작성자</label>
        <input type="text" id="writer" name="writer" class="form-control"
               value="작성자" th:value="${post.user.loginId}" readonly>
    </div>
    <div>
        <label for="createDate">작성일</label>
        <input type="text" id="createDate" name="createDate" class="form-control"
               value="작성자" th:value="${post.createDate}" readonly>
    </div>
    <hr class="my-4">

    <button class="btn btn-primary"
            th:onclick="|location.href='@{/board/{postId}/edit(postId=${post.id})}'|"
            type="button">수정</button>

    <button class="btn btn-danger"
            th:onclick="|location.href='@{/board/{postId}/delete(postId=${post.id})}'|"
            type="button">삭제</button>


</div> <!-- /container -->

</body>