<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
    href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <div class="container">
    <div class="col-md-12">
        <div class="py-5 text-center">
            <h2>게시판</h2>
        </div>

        <button class="btn btn-dark" th:onclick="|location.href='@{/}'|" type="button">
            홈화면
        </button>

        <button class="btn btn-primary" th:onclick="|location.href='@{/board/add-post}'|" type="button">
            게시글 작성
        </button>

        <hr class="my-4">

        <table class="table">
            <thead>
            <tr>
                <th width="10%">글번호</th>
                <th width="">제목</th>
                <th width="20%">작성자</th>
                <th width="20%">작성일</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="list,index: ${resultMap.list}" th:with="paging=${resultMap.paging}">
                <td>
                    <span th:text="${(resultMap.totalCnt - index.index) - (paging.pageNumber * paging.pageSize)}"></span>
                </td>
                <td>
                    <a th:href="@{/board/{postId}(postId=${list.id})}" th:text="${list.title}">제목</a>
                </td>
                <td th:text="${list.user.loginId}">작성자</td>
                <td th:text="${list.createDate}">작성일</td>
            </tr>
            </tbody>
        </table>

        <br class="my-4">

        <div class="row">
            <div class="col">
                <ul class="pagination">
                    <li class="page-item" th:if="${resultMap.totalPage} > 0"
                        th:each="index : ${#numbers.sequence(1, resultMap.totalPage)}"
                        th:with="paging=${resultMap.paging}">
                        <a class="page-link"
                           th:href="@{/board(page=${index-1})}">
                            <span th:text="${index}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <br class="my-4">

    </div>
    </div>
</div>
</body>
</html>